.Bar input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 17px;
    float: left;
  }

  .Bar button{
    height: 34px;
    padding: 5px;
    margin-top: 7px;
  }

  button:hover {
    background: #ccc;
  }
  
  .search-icon{
    height : 22px;
  }
